html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #10051F;

}

.navbar {
  background-color: #10051F;
  padding: 15px 0;
  color: #ffffff;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}

.logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  margin-right: auto;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
  padding: 5px;
}

.nav-links li a:hover {
  color: #cccccc;
}

.cta-button {
  background-color: #dbfd96;
  color: #10051F;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  font-size: 0.9em;
  margin-left: auto;
}

.cta-button:hover {
  background-color: #c8e6a0;
}
.hero {
  align-items: center;
}
.hero-background {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}
