* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  background-color: #10051F;
  padding: 15px 0;
  color: #ffffff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}


.logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;

}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #cccccc;
}


.cta-button {
  background-color: #dbfd96;
  color: #000000;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #c8e6a0;
}

